# e.g. pkc-6rzm8.us-central1.gcp.devel.cpdev.cloud:9092
bootstrap.servers=pkc-mo1wq.us-west-2.aws.stag.cpdev.cloud:9092
security.protocol=SASL_SSL
sasl.oauthbearer.token.endpoint.url=https://login.microsoftonline.com/0893715b-959b-4906-a185-2789e1ead045/oauth2/v2.0/token
sasl.login.callback.handler.class=org.apache.kafka.common.security.oauthbearer.secured.OAuthBearerLoginCallbackHandler
sasl.mechanism=OAUTHBEARER
sasl.jaas.config= \
        org.apache.kafka.common.security.oauthbearer.OAuthBearerLoginModule required \
                clientId='c5376fab-ae54-4958-be5e-84c572d59a94' \
                scope='api://c5376fab-ae54-4958-be5e-84c572d59a94/.default' \
                clientSecret='gHO8Q~Ghli3qdPDjwlvFsQhZrG6iuA8.f6rzRb2x' \
                extension_logicalCluster='lkc-w25zg5' \
                extension_identityPoolId='pool-dz0G';
# Required for correctness in Apache Kafka clients prior to 2.6
client.dns.lookup=use_all_dns_ips

# Best practice for higher availability in Apache Kafka clients prior to 3.0
session.timeout.ms=45000

# Best practice for Kafka producer to prevent data loss
acks=all

############ SR OAuth

schema.registry.url=https://psrc-0z3gp.us-central1.gcp.stag.cpdev.cloud
#SR Oauth configs
bearer.auth.credentials.source=OAUTHBEARER
bearer.auth.issuer.endpoint.url=https://login.microsoftonline.com/0893715b-959b-4906-a185-2789e1ead045/oauth2/v2.0/token
bearer.auth.client.id=c5376fab-ae54-4958-be5e-84c572d59a94
bearer.auth.client.secret=gHO8Q~Ghli3qdPDjwlvFsQhZrG6iuA8.f6rzRb2x
bearer.auth.scope=api://c5376fab-ae54-4958-be5e-84c572d59a94/.default
bearer.auth.logical.cluster=lsrc-nkx5xz
bearer.auth.identity.pool.id=pool-jnlB